*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dflex{
  display: flex;
}

main section:nth-child(even){
  background-color: lightgray;
}

.container{
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;  
} 

/* header */

header{
  background-color: rgb(37, 94, 233);
}

.bloccoheader{
  max-width: none;
  height: 800px;     
  background-image: url("./img/jumbo.png"); 
  background-size: 100% 100%;
  text-align: center;   
}

.bloccoheader h1{
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 30px;
  color: white;
}

.bloccoheader p{  
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.headertop{
  width: 1100px;
  height: 94px;
  justify-content: space-between;
  background-color: rgb(37, 94, 233);  
  align-items: center;
}

.headertop .Accedi{ 
 font-size: 0.8rem; 
 padding: 10px; 
 border: 1px solid white;
 border-radius: 20px;
 background-color: white;
 font-weight: bold; 
}

.menu ul li{
  color: white;
  display: inline;
  font-style: none; 
  margin-left: 15px;
  margin-right: 15px; 
}

.paragrafo{
  text-align: center;   
  align-self: center; 
} 

a:link{
  text-decoration: none;
}

.buttombutt{ 
 display: inline-block;
 justify-content: center; 
 margin-top: 30px; 
 border-radius: 23px; 
}

.buttombutt#botblack{
  border: 1px solid black;
  background-color: black; 
  padding: 15px; 
  font-size: 1.2rem;
  margin-left: 5px;
}

.buttombutt#botwhite{
  border: 1px solid white;
  background-color: white; 
  padding: 12.8px; 
  font-size: 1.2rem;
  margin-right: 5px;  
}

.buttombutt#botwhite a{
  color: black;
  font-weight: bold;
}

.buttombutt#botblack a{
  color: white;
  font-weight: bold;
}
 
 #botwhite::before{
  content:"\2193";   
 }

 /* /header */

 /* Main */

.col{
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;    
}

main .sidebar{
  width: 60%;  
}

main .main{
  width: 40%;      
  text-align: left;
  flex-direction: column; 
  justify-content: flex-start;  
}

main .main h2{
  font-size: 2.5rem; 
  align-self: center;    
}

main .mainlast{
  width: 100%;
  justify-content: center;
  text-align: center;  
}

main .mainlast h3{
  font-weight: bold;
  font-size: 3rem;  
}

main .mainlast p{
  text-align: center;
  margin-top: 10px;
}

.mainlast .sectionpic{  
  background-image: url(./img/stars.svg);
  background-size: contain;
  font-weight: bold;
  background-repeat: no-repeat;
  height: 80px;
  justify-content: center;  
  font-size: 1.8rem;  
}

.mainlast .sectionpic h4{
  align-self: flex-end;
}

#Scaricabutt{
  background-color: rgb(145, 163, 234);
  border: 1px solid rgb(145, 163, 234);
  color: white;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
}

#Scaricabutt::before{
  content:"\2193";
}



/* /main */

/* Footer */

.footertot{
  background-color: rgb(35, 39, 42); 
}

.listanav{
  justify-content: flex-end;
  flex-wrap: wrap-reverse;  
}

.footerbot{
 border-top: 1px solid gray;
 padding-top: 20px;
 justify-content: space-between;  
}

footer .colfootleft{
  color: rgb(121, 140, 210);
  width: 40%;
  flex-direction: column;  
}

footer .colfootleft h4{
  justify-content: flex-start;
  font-size: 1.5rem;
}

#bandierina{
  width: 20px;
  margin-right: 5px;
}

footer .colfootleft span{
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

footer .colfootleft .logo{ 
  color: white;  
}

footer .colfootleft .logo #lang{
  color: white;
}

footer .colfootright ul{
  color: rgb(121, 140, 210);
}

footer .colfootright ul li{
  color: white;
}

footer .colfootright{width: 15%;
  justify-content: center;    
}

footer .colfootright ul li{
  list-style: none;
  margin-top: 5px;
}

.registrati{
  background-color: rgb(145, 163, 234);
  border: 1px solid rgb(145, 163, 234);
  color: white;
  border-radius: 20px;
  padding: 10px;
}

#regbutt{
  color: white;
}

/* /footer */